/*.sln
.vs/
Binaries/
Intermediate/
Saved/
Releases/
Build/
Content/StarterContent/*
SKU/
/decora/
Screenshot/
AutoBackup/
Content/magic.xml
InfoOut.json
Content/Paks/DecoraBuilder-WindowsNoEditor_P.pak
InfoOutBackup.txt
Content/decora/
*.VC.db
sceneReport.txt
PesquisaProduto.json
FilterSearch.json
BadSkuList.txt
LastSku.txt
Search.json
DerivedDataCache/

Plugins/VaRestPlugin/Intermediate/
Plugins/VaRestPlugin/Binaries/
Plugins/VaRestPlugin/.DS_Store
shipping
PakTester/
Content/LocalSaves/
Content/Version.ini